In [13]:
import os
import pandas as pd

folder_path = r"C:\Users\Pintoo\OneDrive\Projects\text"
file_contents = []

for filename in os.listdir(folder_path):
    if filename.endswith(".txt"):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, "r") as file:
            content = file.read()
            file_contents.append(content)

data = {"label": ["default"] * len(file_contents), "text": file_contents}
df = pd.DataFrame(data)

In [15]:
print(df)

        label                                               text
0     default  MajorClaim\nwe should attach more importance t...
1     default  Premise\nTake Olympic games which is a form of...
2     default  Premise\nThe high technology and new ideas app...
3     default  Premise\npollutions are not just caused by the...
4     default  Premise\nthe improvements of work efficiency a...
...       ...                                                ...
6084  default  MajorClaim\naddressing pollution and traffic i...
6085  default  Premise\nwhether it can work out for alleviati...
6086  default  Premise\nprice control institution has been us...
6087  default  Claim\nit seems not easy to increase petrol pr...
6088  default  Premise\ngovernments have a macro-economic per...

[6089 rows x 2 columns]

In [16]:
import re

df['label'] = df['text'].apply(lambda x: re.findall(r'^\s*(MajorClaim|Premise|Claim)', x, flags=re.IGNORECASE)[0])

In [17]:
print(df)

           label                                               text
0     MajorClaim  MajorClaim\nwe should attach more importance t...
1        Premise  Premise\nTake Olympic games which is a form of...
2        Premise  Premise\nThe high technology and new ideas app...
3        Premise  Premise\npollutions are not just caused by the...
4        Premise  Premise\nthe improvements of work efficiency a...
...          ...                                                ...
6084  MajorClaim  MajorClaim\naddressing pollution and traffic i...
6085     Premise  Premise\nwhether it can work out for alleviati...
6086     Premise  Premise\nprice control institution has been us...
6087       Claim  Claim\nit seems not easy to increase petrol pr...
6088     Premise  Premise\ngovernments have a macro-economic per...

[6089 rows x 2 columns]

In [18]:


df = pd.DataFrame(data)
df['label'] = df['text'].apply(lambda x: re.findall(r'^\s*(MajorClaim|Premise|Claim)', x, flags=re.IGNORECASE)[0])

# Remove labels from the text column
df['text'] = df['text'].str.replace(r'^(MajorClaim|Premise|Claim)\n', '', regex=True)

print(df)

           label                                               text
0     MajorClaim  we should attach more importance to cooperatio...
1        Premise  Take Olympic games which is a form of competit...
2        Premise  The high technology and new ideas applied into...
3        Premise  pollutions are not just caused by the burning ...
4        Premise  the improvements of work efficiency also attri...
...          ...                                                ...
6084  MajorClaim  addressing pollution and traffic issues only b...
6085     Premise  whether it can work out for alleviating traffi...
6086     Premise  price control institution has been used in ple...
6087       Claim  it seems not easy to increase petrol price ins...
6088     Premise  governments have a macro-economic perspective ...

[6089 rows x 2 columns]

In [20]:
dataframe=pd.DataFrame(df)
print(dataframe)

           label                                               text
0     MajorClaim  we should attach more importance to cooperatio...
1        Premise  Take Olympic games which is a form of competit...
2        Premise  The high technology and new ideas applied into...
3        Premise  pollutions are not just caused by the burning ...
4        Premise  the improvements of work efficiency also attri...
...          ...                                                ...
6084  MajorClaim  addressing pollution and traffic issues only b...
6085     Premise  whether it can work out for alleviating traffi...
6086     Premise  price control institution has been used in ple...
6087       Claim  it seems not easy to increase petrol price ins...
6088     Premise  governments have a macro-economic perspective ...

[6089 rows x 2 columns]

In [23]:
dataframe

           label                                               text
0     MajorClaim  we should attach more importance to cooperatio...
1        Premise  Take Olympic games which is a form of competit...
2        Premise  The high technology and new ideas applied into...
3        Premise  pollutions are not just caused by the burning ...
4        Premise  the improvements of work efficiency also attri...
...          ...                                                ...
6084  MajorClaim  addressing pollution and traffic issues only b...
6085     Premise  whether it can work out for alleviating traffi...
6086     Premise  price control institution has been used in ple...
6087       Claim  it seems not easy to increase petrol price ins...
6088     Premise  governments have a macro-economic perspective ...

[6089 rows x 2 columns]

In [24]:
dataframe['label'].value_counts()

Premise       3832
Claim         1506
MajorClaim     751
Name: label, dtype: int64

In [25]:
max_tokens = 0

for text in df['text']:
    num_tokens = len(text)
    if num_tokens > max_tokens:
        max_tokens = num_tokens

print("Maximum number of character-level tokens:", max_tokens)

Maximum number of character-level tokens: 345

In [26]:
max_tokens = 0

for text in df['text']:
    tokens = text.split()
    num_tokens = len(tokens)
    if num_tokens > max_tokens:
        max_tokens = num_tokens

print("Maximum number of word-level tokens:", max_tokens)

Maximum number of word-level tokens: 67

In [28]:
vocab_set = set()

for text in df['text']:
    tokens = text.split()
    vocab_set.update(tokens)

total_vocab_words = len(vocab_set)

print("Total number of unique vocabulary words:", total_vocab_words)

Total number of unique vocabulary words: 9103

In [29]:
import nltk
nltk.download('stopwords')
# Downloading wordnet before applying Lemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Pintoo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Pintoo\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Pintoo\AppData\Roaming\nltk_data...

True

In [30]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [39]:
y = df['label']
X = df[['text']]

In [40]:
# Splitting into train and test

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [41]:
X_train.head()

                                                   text
100   flourishing economies can go hand in hand with...
4084  we, as an average people, might feel that the ...
2420  Having one's own hobbies and doing physical ac...
5863  Frank Zappa once said, "Mind is like a parachu...
4866  Recently, his health and personal life was dra...

In [42]:
X_train.shape

(4871, 1)

In [43]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
## initialise the inbuilt Stemmer
stemmer = PorterStemmer()

In [44]:
## We can also use Lemmatizer instead of Stemmer
lemmatizer = WordNetLemmatizer()

In [45]:
def preprocess(raw_text, flag):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()
    
    # remove stop words                
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]
    
    # Stemming/Lemmatization
    if(flag == 'stem'):
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]
    
    return pd.Series([" ".join(clean_tokens), len(clean_tokens)])

In [46]:
from tqdm import tqdm, tqdm_notebook

In [47]:
# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`

tqdm.pandas()

In [48]:
# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`

temp_df = X_train['text'].progress_apply(lambda x: preprocess(x, 'stem'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 4871/4871 [00:13<00:00, 348.49it/s]

                                                      0   1
100   flourish economi go hand hand environment preserv   7
4084   averag peopl might feel respons goal heavi carri   8
2420        one hobbi physic activ bring us lot benefit   8
5863      frank zappa said mind like parachut work open   8
4866  recent health person life drastic affect broke...  13

In [49]:
temp_df.columns = ['clean_text_stem', 'text_length_stem']

temp_df.head()

                                        clean_text_stem  text_length_stem
100   flourish economi go hand hand environment preserv                 7
4084   averag peopl might feel respons goal heavi carri                 8
2420        one hobbi physic activ bring us lot benefit                 8
5863      frank zappa said mind like parachut work open                 8
4866  recent health person life drastic affect broke...                13

In [50]:
X_train = pd.concat([X_train, temp_df], axis=1)

X_train.head()

,text,clean_text_stem,text_length_stem
100,flourishing economies can go hand in hand with...,flourish economi go hand hand environment preserv,7
4084,"we, as an average people, might feel that the ...",averag peopl might feel respons goal heavi carri,8
2420,Having one's own hobbies and doing physical ac...,one hobbi physic activ bring us lot benefit,8
5863,"Frank Zappa once said, ""Mind is like a parachu...",frank zappa said mind like parachut work open,8
4866,"Recently, his health and personal life was dra...",recent health person life drastic affect broke...,13

In [51]:
temp_df = X_train['text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 4871/4871 [00:22<00:00, 216.46it/s]

                                                      0   1
100   flourishing economy go hand hand environmental...   7
4084  average people might feel responsibility goal ...   8
2420    one hobby physical activity bring u lot benefit   8
5863     frank zappa said mind like parachute work open   8
4866  recently health personal life drastically affe...  13

In [52]:
temp_df.columns = ['clean_text_lemma', 'text_length_lemma']

temp_df.head()

                                       clean_text_lemma  text_length_lemma
100   flourishing economy go hand hand environmental...                  7
4084  average people might feel responsibility goal ...                  8
2420    one hobby physical activity bring u lot benefit                  8
5863     frank zappa said mind like parachute work open                  8
4866  recently health personal life drastically affe...                 13

In [61]:
#temp_df.columns['text_length_lemma'].min()

In [56]:
X_train = pd.concat([X_train, temp_df], axis=1)

X_train.head()

,text,clean_text_stem,text_length_stem,clean_text_lemma,text_length_lemma,clean_text_lemma,text_length_lemma
100,flourishing economies can go hand in hand with...,flourish economi go hand hand environment preserv,7,flourishing economy go hand hand environmental...,7,flourishing economy go hand hand environmental...,7
4084,"we, as an average people, might feel that the ...",averag peopl might feel respons goal heavi carri,8,average people might feel responsibility goal ...,8,average people might feel responsibility goal ...,8
2420,Having one's own hobbies and doing physical ac...,one hobbi physic activ bring us lot benefit,8,one hobby physical activity bring u lot benefit,8,one hobby physical activity bring u lot benefit,8
5863,"Frank Zappa once said, ""Mind is like a parachu...",frank zappa said mind like parachut work open,8,frank zappa said mind like parachute work open,8,frank zappa said mind like parachute work open,8
4866,"Recently, his health and personal life was dra...",recent health person life drastic affect broke...,13,recently health personal life drastically affe...,13,recently health personal life drastically affe...,13